<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Messages : View all</title>
</head>
<body>
<h1 layout:fragment="header">Messages : View all</h1>
<div layout:fragment="content" class="container">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>roleid</td>
            <td>userid</td>
            <td>username</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${messages.empty}">
            <td colspan="3">
                No messages
            </td>
        </tr>
        <tr th:each="message : ${messages}">
            <td th:text="${message.roleid}">1</td>
            <td th:text="${message.userid}">2</td>
            <td th:text="${message.username}">3</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>